Lab2

In [2]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia340-2025-fall-12112003/Electric_Vehicle_Population_Data.csv') # load the data from s3
df.head() #show the top 5 rows

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EB5K,Yakima,Yakima,WA,98901.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,15.0,347724772,POINT (-120.50729 46.60464),PACIFICORP,5.307700e+10
1,1C4RJXU67R,Kitsap,Port Orchard,WA,98367.0,2024,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,21.0,0.0,35.0,272165288,POINT (-122.68471 47.50524),PUGET SOUND ENERGY INC,5.303509e+10
2,KNDCD3LD0N,Snohomish,Lynnwood,WA,98036.0,2022,KIA,NIRO,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,26.0,0.0,32.0,203182584,POINT (-122.29245 47.82557),PUGET SOUND ENERGY INC,5.306105e+10
3,5UXKT0C37H,King,Auburn,WA,98001.0,2017,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,14.0,0.0,30.0,349010287,POINT (-122.23035 47.3074),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
4,1N4AZ0CP1D,Skagit,Mount Vernon,WA,98273.0,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75.0,0.0,40.0,131684150,POINT (-122.33891 48.41644),PUGET SOUND ENERGY INC,5.305795e+10

View the Data: View Below

Markdown: I found that I have 17 columns in my dataset, while also having 5 rows. There are a few different types of columns, such as numeric and text columns. My main first impression is that a lot of my data contains text, over numeric data.

In [11]:
df.head()
df.shape
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257635 entries, 0 to 257634
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         257635 non-null  object
 1   County                                             257627 non-null  object
 2   City                                               257627 non-null  object
 3   State                                              257635 non-null  object
 4   Postal Code                                        257627 non-null  float64
 5   Model Year                                         257635 non-null  int64
 6   Make                                               257635 non-null  object
 7   Model                                              257635 non-null  object
 8   Electric Vehicle Type                              257635 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  257635 non-null  object
 10  Electric Range                                     257632 non-null  float64
 11  Base MSRP                                          257632 non-null  float64
 12  Legislative District                               257038 non-null  float64
 13  DOL Vehicle ID                                     257635 non-null  int64
 14  Vehicle Location                                   257619 non-null  object
 15  Electric Utility                                   257627 non-null  object
 16  2020 Census Tract                                  257627 non-null  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 33.4+ MB

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,257627.000000,257635.000000,257632.000000,257632.000000,257038.000000,2.576350e+05,2.576270e+05
mean,98177.614217,2021.713164,43.127775,705.270541,28.897151,2.404009e+08,5.297530e+10
std,2535.922185,3.023857,81.632805,6997.364357,14.882168,6.602927e+07,1.597188e+09
min,1469.000000,2000.000000,0.000000,0.000000,1.000000,4.385000e+03,1.001020e+09
25%,98052.000000,2020.000000,0.000000,0.000000,17.000000,2.134322e+08,5.303301e+10
50%,98133.000000,2023.000000,0.000000,0.000000,32.000000,2.586345e+08,5.303303e+10
75%,98380.000000,2024.000000,35.000000,0.000000,42.000000,2.738272e+08,5.305307e+10
max,99577.000000,2026.000000,337.000000,845000.000000,49.000000,4.792548e+08,6.601095e+10

Clean the Data: View Below

Markdown:

In [20]:
df.rename(columns={"Model Year": "Year"})
df.isnull().sum()
df = df.dropna()

Manipulate the Data: View Below

Markdown:

In [21]:
df[['Postal Code']]

        Postal Code
0           98901.0
1           98367.0
2           98036.0
3           98001.0
4           98273.0
...             ...
257630      98275.0
257631      98033.0
257632      98683.0
257633      98229.0
257634      98121.0

[257027 rows x 1 columns]

Group and Visualize the Data: View Below

Markdown: